@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
}


/*--------------------------------------------------------------
# Variable classes
--------------------------------------------------------------*/

/* Font Families: */
:root {
  --default-font:
    'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --heading-font: 'Inter', sans-serif;
  --nav-font: 'Inter', sans-serif;
}

/* Font Sizes: */
:root {
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */
  --font-size-7xl: 4.5rem; /* 72px */
  --font-size-8xl: 6rem; /* 96px */
  --font-size-9xl: 8rem; /* 128px */
}

/* Color Library: */
:root {
  --light-color: #f4fff7;
  --default-color: #000;
  --lesser-color: #737373;
  --button-color: #2CA399;
  --accent-color: #06432a;
  --danger-light-color: #802a2a;
  --deactivated-color: #ff7979;
  /* --block-bg-dark-color: #0A2025; */
  --lesser-dark-color: #9e9e9e;
  --vibrant-dark-color: #2ca399;
  --vibrant-dark-color: #165d6d;
  --block-bg-dark-color: #06191d;
}

/* Badge Colors */
:root {
  --connect-light-bg-color: #91ccb9;
  --connect-dark-bg-color: #caffee;
  --connect-text-color: #06432a;
  --connect-dark-text-color: #e0f2f1;
  --service-light-bg-color: #ffd8b2;
  --service-dark-bg-color: #ffba75;
  --service-text-color: #4f2400;
}

/* Gradients: */
:root {
  --bg-light: linear-gradient(180deg, #0d2325 0%, #0a3f3a 100%);
  --bg-dark: linear-gradient(180deg, #0d2325 0%, #04272a 100%);
  --nav-bg-light: linear-gradient(90deg, rgba(0, 36, 44, 0.9) 0%, rgba(17, 34, 38, 0.9) 100%);
  --nav-light-stroke: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --selected: linear-gradient(90deg, #14c0cc 0%, #8bc9d4 100%);
  --nav-bg-dark: linear-gradient(90deg, rgba(0, 36, 44, 0.9) 0%, rgba(17, 34, 38, 0.9) 100%);
  --lines-dark: linear-gradient(180deg, #fff 0%, #a5ecf2 100%);
  --lines-light: radial-gradient(50% 50% at 50% 50%, #fff 0%, #c4e0d7 100%);
}

/*--------------------------------------------------------------
# Custom Classes
--------------------------------------------------------------*/

/* Fonts */
.dark .default-text {
  color: var(--light-color);
}

.default-text {
  color: var(--default-color);
}

.lesser-text {
  color: var(--lesser-color);
}

.dark .lesser-text {
  color: var(--lesser-dark-color);
}

/* Nav bar*/
.nav-bg {
  background: var(--nav-bg-light);
  color: var(--light-color);
  border-bottom: 1px solid var(--nav-light-stroke);
}

.dark .nav-bg {
  background: var(--nav-bg-dark) !important;
}

.block {
  gap: 20px;
  padding: 20px;
}

/*--------------------------------------------------------------
# Styles
--------------------------------------------------------------*/

/*Header Styles*/
.header {
  background: var(--nav-bg-light);
  padding: 24px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.company-title {
  padding-left: 16px;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-links-list .nav-link {
  margin: 0 12px;
  font-size: var(--font-size-md);
  text-decoration: none;
  color: var(--lesser-color);
}

.nav-links-list .nav-link.active {
  font-weight: 500;
  color: var(--light-color) !important;
}

.user-avatar {
  width: 5vh;
  height: 5vh;
  border-radius: 9999px;
  object-fit: cover;
}

.nav-section {
  min-width: 10%;
  max-width: 33%;
}

.nav-user-info p {
  margin: 0;
  padding: 0;
}

.nav-user-info .default-text {
  font-size: var(--font-size-md);
  font-weight: 500;
}

.nav-user-info .lesser-text {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

/* Body, container & main styles */

body {
  font-family: var(--default-font);
  background: var(--bg-light);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.main {
  margin: 30px 10vw;
}

/* Filters and Search Bar Styles */

.tools {
  align-items: center;
  width: 100%;
  gap: 20px;
}

.input-field {
  display: flex;
  width: fit-content;
  padding: 16px;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: var(--light-color);
  height: 50px;
}

input, select {
  border: none;
  outline: none;
  font-size: var(--font-size-md);
  background: none;
  padding: none;
  margin: none;
  min-width: 90px;
  max-width: 300px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background: var(--button-color);
  width: fit-content;
  border-radius: 8px;
  font-weight: 600;
  color: var(--light-color);
  max-height: 50px;
  text-align: center;
}

.button-container p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  font-size: var(--font-size-lg);
  font-weight: 400;
}

.button {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  border: none;
  background: none;
  color: var(--light-color);
  width: 150px;
  padding: 14px 16px 16px 12px;
  text-align: center;
}

.long-input {
  min-width: 300px;
}

/* User list styles */
.user-list {
  margin-top: 30px;
  background: var(--light-color);
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  gap: 20px;
}

.table-header {
  margin-bottom: 30px;
  height: fit-content;
  height: 50px;
  vertical-align: top;
}

.table-header * {
  font-weight: 600;
  text-align: left;
}